<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Einsatzplan</title>
    <style>
      table {
        border: 1px solid black;
        background-color: lightgray;
        font-size: 30pt;
      }
      thead {
        font-size: 36pt;
        border: 1.5px black solid;
        font-weight: bold;
      }
      tr,
      td {
        border: 1px solid black;
      }
    </style>
  </head>
  <body>
    <form action="/" method="get">
      Startdatum: <input type="date" name="start_date" /> Enddatum:
      <input type="date" name="end_date" />
      <input type="submit" value="Datumsbereich anzeigen" />
    </form>
    <br />
    <table>
      <thead>
        <tr>
          <td>Datum</td>
          {% for employee_id, employee_name in employee_list.items() %}
          <td>{{ employee_name }}</td>
          {% end %}
        </tr>
      </thead>
      <tbody>
        {% for date, employee_data in employee_entries.items() %}
        <tr>
          <td>{{ date }}</td>
          {% for employee_id, status in employee_data.items() %}
          <td>
            {% if status == 0 %} Abwesend {% elif status == 1 %} Einsatz {% else
            %} Noch nicht eingetragen {% end %}
          </td>
          {% end %}
        </tr>
        {% end %}
      </tbody>
    </table>
  </body>
</html>
