<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notizbuch</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
    <h1>Notizbuch</h1>
    <form action="/api/notes" method="post">
        <input type="text" name="note" placeholder="Notiz eingeben">
        <button type="submit">Hinzufügen</button>
    </form>
    <ul>
        {% for index, note in enumerate(notes) %}
            <li>{{ index + 1 }}. {{ note }} <form action="/api/notes/{{ index }}" method="post"><button type="submit">Löschen</button></form></li>
        {% end %}
    </ul>
</body>
</html>
